/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/* Library */
:root {
    --bg-primary: #262017;
    --bg-secondary: #3b352c;

    --font-primary: #f0ae2c;
    --font-secondary: #ffdaa5;

    --btn-border: #67625b;
}

body {
    background-color: var(--bg-primary);
    font-family: "DM Sans";
}

/* --- Header --- */

#header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    background-color: var(--bg-secondary);
    color: var(--font-primary);
    font-size: 20px;
    font-weight: bold;
    height: 70px;
    padding: 0 28px;
}

#add-book {
    /* #header grid */
    justify-self: end;

    cursor: pointer;
}

/* --- END Header --- */

/* --- Greeting --- */

#greeting {
    color: var(--font-secondary);
    font-size: 14px;
    padding-top: 14px;
    padding-left: 28px;
}

/* --- END Greeting --- */

/* --- Library Name --- */

#library-name {
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding-left: 28px;
}

/* --- END Library Name --- */

/* --- Sort Buttons --- */

#sort-btns {
    display: grid;
    grid-template-columns: repeat(auto-fit, 80px);
    gap: 8px;
    padding-top: 2px;
    padding-left: 28px;
}

#sort-btns .sort-btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    background-color: var(--bg-secondary);
    border: 1px solid var(--btn-border);
    border-radius: 5px;
    color: white;
    font-size: 13px;
    text-align: start;
    width: 80px;
    padding: 4px 8px;
}

#sort-btns img {
    justify-self: end;
    width: 14px;
}

hr {
    background-color: var(--btn-border);
    border: none;
    height: 1px;
    margin: 8px 28px;
}

/* --- END Sort Buttons --- */
