/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/* Library */
:root {
    --bg-primary: #1d2a34;
    --bg-secondary: #24435a;
    --bg-tertiary: #333e48;

    --font-primary: #a7c2db;
    --font-secondary: #cbd2d8;

    --btn-border: #616a71;
}

body {
    background-color: var(--bg-primary);
    font-family: "DM Sans";
}

/* --- Header --- */

#header {
    position: sticky;
    top: 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    background-color: var(--bg-secondary);
    color: #a7c2db;
    font-size: 20px;
    font-weight: bold;
    height: 70px;
    padding: 0 10%;
}

#add-book {
    /* #header grid */
    justify-self: end;

    cursor: pointer;
}

/* --- END Header --- */

/* --- New Book Form --- */

#new-book-form {
    position: sticky;
    top: 70px;

    display: grid;
    justify-content: end;
    gap: 8px;

    background-color: var(--bg-secondary);
    font-size: 14px;
    padding: 0 10% 20px;
}

#form-title {
    color: var(--font-primary);
    font-weight: bold;
}

.input-div {
    display: grid;
    grid-template-columns: 60px 196px;
    align-items: center;

    color: var(--font-secondary);
}

.input-div input {
    all: unset;
    background-color: var(--bg-primary);
    color: lightgray;
    border-radius: 8px;
    padding: 4px 8px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-div input::placeholder {
    color: gray;
    font-style: italic;
}

/* dropdown */

.dropdown-visible {
    display: grid;
    grid-template: repeat(4, 29px) / 60px 196px;
    align-items: center;

    color: var(--font-secondary);
}

#not-started {
    grid-area: 2 / 2 / 3 / 3;
}

#reading {
    grid-area: 3 / 2 / 4 / 3;
}

#finished {
    grid-area: 4 / 2 / 5 / 3;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.dropdown-option {
    cursor: pointer;
    background-color: var(--bg-primary);
    color: lightgray;
    padding: 4px 8px;
}

.dropdown-option:hover {
    background-color: var(--font-primary);
    color: var(--bg-primary);
}

#status-value-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
    background-color: var(--bg-primary);
    color: gray;
    border-radius: 8px;
    font-style: italic;
    height: 29px;
    padding: 4px 8px;
}

#status-value {
    color: lightgray;
    font-style: normal;
}

/* END dropdown */

#confirm-btn {
    justify-self: end;

    cursor: pointer;
    background-color: var(--font-primary);
    color: var(--bg-primary);
    border-radius: 8px;
    padding: 4px 8px;
}

#message-div {
    display: grid;
    grid-template-columns: 188px 68px;
    align-items: center;
}

#message-text {
    color: var(--font-secondary);
    font-style: italic;
}

/* --- END New Book Form --- */

/* --- Greeting --- */

#greeting {
    color: var(--font-secondary);
    font-size: 14px;
    padding-top: 14px;
    padding-left: 10%;
}

/* --- END Greeting --- */

/* --- Library Name --- */

#library-name {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-top: -6px;
    padding-left: 10%;
}

/* --- END Library Name --- */

/* --- Sort Buttons --- */

#sort-btns {
    display: grid;
    grid-template-columns: repeat(auto-fit, 80px);
    gap: 8px;
    padding-top: 2px;
    padding-left: 10%;
}

#sort-btns .sort-btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    cursor: pointer;
    background-color: var(--bg-tertiary);
    border: 1px solid var(--btn-border);
    border-radius: 5px;
    color: white;
    font-size: 13px;
    text-align: start;
    width: 80px;
    padding: 4px 8px;
}

#sort-btns img {
    justify-self: end;
    width: 14px;
}

hr {
    background-color: var(--btn-border);
    border: none;
    height: 1px;
    margin: 8px 10%;
}

/* --- END Sort Buttons --- */

/* --- Bookshelf --- */

#bookshelf {
    display: grid;
    gap: 8px;

    padding: 0 10% 32px;
}

#no-books-text {
    color: lightgray;
    font-style: italic;
    margin-top: -6px;
}

.book {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--bg-tertiary);
    color: white;
    border-radius: 10px;
    font-size: 13px;
    padding: 16px;
}

.title {
    font-weight: bold;
}

.author,
.pages,
.status {
    color: lightgray;
}

.book-options {
    display: flex;
    align-items: center;
    gap: 19px;
}

.book-dropdown-hidden {
    display: flex;
    align-items: center;
    gap: 2px;

    cursor: pointer;
    font-style: italic;
}

.edit {
    width: 16px;
    height: 16px;
}

.book-dropdown-visible {
    display: grid;
    grid-template: repeat(4, 20px) / 16px 90px;
    align-items: center;
    row-gap: 4px;
}

.book-dropdown-visible .edit {
    grid-area: 1 / 1 / 2 / 2;
}

.book-dropdown-visible .status-text {
    grid-area: 1 / 2 / 2 / 3;

    font-style: italic;
    padding: 0 4px;
}

.book-dropdown-visible .book-dropdown-option {
    cursor: pointer;
    background-color: lightgray;
    color: var(--bg-tertiary);
    font-style: italic;
    border-radius: 6px;
    padding: 0 4px;
}

.book-dropdown-visible .book-not-started {
    grid-area: 2 / 2 / 3 / 3;
}

.book-dropdown-visible .book-reading {
    grid-area: 3 / 2 / 4 / 3;
}

.book-dropdown-visible .book-finished {
    grid-area: 4 / 2 / 5 / 3;
}

.delete {
    cursor: pointer;
    width: 18px;
    height: 18px;
}

/* --- END Bookshelf --- */
